body,
 html {
     height: 100%;
     background: #2c3394;
 }
 .b {
  border: 1px solid red;
}

 .agenda {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
}

.formagenda{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1.5rem 0 0 1.5rem;
}

.formagenda h3 {
  color: #fff;
}

.formagenda label {
  color: #eee;
}

.agenda-lista {
  border-radius: 0 1.5rem 1.5rem 0;
  background-color: #fcfcfc;
}

.agenda-lista {
  border-radius: 0 1.5rem 1.5rem 0;
  background-color: #fcfcfc;
}

.contato {
  padding: 12px 0;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: .5rem;
  border: 1px solid #eee;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.contato .nome {
  height: 48px;
}

.contato .nome h6 {
  font-size: 22px;
  height: 22px;
  line-height: 100%;
  font-weight: 600;
  margin-bottom: 0;
}

.contato .nome p {
  color: #6c757d;
  font-size: 16px;
  font-weight: 400;
  height: 16px;
  line-height: 100%;
  margin: 0;

}
.contato .opcoes {
  min-height: 48px;
}
